<ion-header *ngIf="viewEntered" class="animate__animated animate__bounceInUp">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()" color="light">Atrás
        <ion-icon slot="start" name="arrow-back-outline" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Vehículo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="viewEntered" class="animate__animated animate__bounceInUp">

  <ion-grid fixed>
    <ion-row *ngIf="vehiculoTrabajando.situacion_trabajo === 1" >
      <ion-col size="2">
      </ion-col>
      <ion-col size="8">
        <ion-card  class="ion-card-salir center-text" (click)="iniciarTrabajo()">
          <ion-card-header>
            <ion-icon name="stopwatch" style="zoom:1.5" class="ion-icon-salir"></ion-icon>
            <ion-text>
              <ion-note class="ion-note-salir">&nbsp;&nbsp;Iniciar Trabajo</ion-note>
            </ion-text>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="2">
      </ion-col>
      <ion-row *ngIf="vehiculoTrabajando.situacion_trabajo === 1" class="row">
        <ion-col size="12"></ion-col>
      </ion-row>
    </ion-row>
    <ion-row *ngIf="vehiculoTrabajando.situacion_trabajo ===  2" >
      <ion-col size="2">
      </ion-col>
      <ion-col size="8">
        <ion-card  class="ion-card-finalizar center-text-finalizar" (click)="finalizarTrabajo()">
          <ion-card-header>
            <ion-icon name="checkbox" style="zoom:1.5" class="ion-icon-another"></ion-icon>
            <ion-text>
              <ion-note class="ion-note-finalizar">&nbsp;&nbsp;Finalizar trabajo</ion-note>
            </ion-text>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="2">
      </ion-col>
    </ion-row>
    <ion-row *ngIf="vehiculoTrabajando.situacion_trabajo ===  2" >
      <ion-col size="2">
      </ion-col>
      <ion-col size="8">
        <ion-card  class="ion-card-fallida center-text-fallida" (click)="trabajoFallido()">
          <ion-card-header>
            <ion-icon name="close-circle" style="zoom:1.5" class="ion-icon-another"></ion-icon>
            <ion-text>
              <ion-note class="ion-note-fallida">&nbsp;&nbsp;OT fallida</ion-note>
            </ion-text>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="2">
      </ion-col>
    </ion-row>
    <ion-row *ngIf="vehiculoTrabajando.situacion_trabajo ===  2" >
      <ion-col size="2">
      </ion-col>
      <ion-col size="8">
        <ion-card class="ion-card-another center-text" (click)="cancelarTrabajo()">
          <ion-card-header>
            <ion-icon name="close-circle-outline" style="zoom:1.5" class="ion-icon-another"></ion-icon>
            <ion-text>
              <ion-note class="ion-note-cancelar">&nbsp;&nbsp;Cancelar visita</ion-note>
            </ion-text>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="2">
      </ion-col>
    </ion-row>
    <ion-row *ngIf="vehiculoTrabajando.situacion_trabajo === 3" >
      <ion-col size="2">
      </ion-col>
      <ion-col size="8">
        <ion-card  class="ion-card-completado center-text">
          <ion-card-header>
            <ion-icon name="alert-circle" style="zoom:1.5" class="ion-icon-salir"></ion-icon>
            <ion-text>
              <ion-note class="ion-note-salir">&nbsp;&nbsp;Completado</ion-note>
            </ion-text>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="2">
      </ion-col>
      <ion-row *ngIf="vehiculoTrabajando.situacion_trabajo === 3" class="row">
        <ion-col size="12"></ion-col>
      </ion-row>
    </ion-row>
  </ion-grid>

  <ion-card class="data-card">
    <ion-card-content>
      <ion-row>
        <ion-col size="2">
          <ion-label>
            <ion-icon name="car" style="zoom:3;" class="ion-icon" slot="start"></ion-icon>
          </ion-label>
        </ion-col>
        <ion-col size="10">
          <ion-label class="alignright">
            <ion-note style="font-size: 22px;">&nbsp;Datos generales&nbsp;</ion-note>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2.6">
          <ion-badge class="badge">Placa :</ion-badge>
        </ion-col>
        <ion-col size="7.4">
          <ion-text *ngIf="vehiculoTrabajando.placa !== '' || vehiculoTrabajando.placa !== null" >
            <h6>{{vehiculoTrabajando.placa}}</h6>
          </ion-text>
          <ion-text *ngIf="vehiculoTrabajando.placa === '' || vehiculoTrabajando.placa === null" >
            <h6>No especificado</h6>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1.6">
          <ion-badge class="badge">ID :</ion-badge>
        </ion-col>
        <ion-col size="10.4">
          <ion-text *ngIf="vehiculoTrabajando.ID !== '' || vehiculoTrabajando.ID !== null" >
            <h6>{{vehiculoTrabajando.ID}}</h6>
          </ion-text>
          <ion-text *ngIf="vehiculoTrabajando.ID === '' || vehiculoTrabajando.ID === null" >
            <h6>No especificado</h6>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5.2">
          <ion-badge class="badge">Tipo de vehículo :</ion-badge>
        </ion-col>
        <ion-col size="6.8">
          <ion-text *ngIf="vehiculoTrabajando.nombre !== '' || vehiculoTrabajando.nombre !== null" >
            <h6>{{vehiculoTrabajando.nombre}}</h6>
          </ion-text>
          <ion-text *ngIf="vehiculoTrabajando.nombre === '' || vehiculoTrabajando.nombre === null" >
            <h6>No especificado</h6>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2.6">
          <ion-badge class="badge">Marca :</ion-badge>
        </ion-col>
        <ion-col size="9.4">
          <ion-text *ngIf="vehiculoTrabajando.marca !== '' || vehiculoTrabajando.marca !== null" >
            <h6>{{vehiculoTrabajando.marca}}</h6>
          </ion-text>
          <ion-text *ngIf="vehiculoTrabajando.marca === '' || vehiculoTrabajando.marca === null" >
            <h6>No especificado</h6>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2.6">
          <ion-badge class="badge">Color :</ion-badge>
        </ion-col>
        <ion-col size="9.4">
          <ion-text *ngIf="vehiculoTrabajando.color !== '' || vehiculoTrabajando.color !== null" >
            <h6>{{vehiculoTrabajando.color}}</h6>
          </ion-text>
          <ion-text *ngIf="vehiculoTrabajando.color === '' || vehiculoTrabajando.color === null" >
            <h6>No especificado</h6>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2.9">
          <ion-badge class="badge">Franjas :</ion-badge>
        </ion-col>
        <ion-col size="9.1">
          <ion-text *ngIf="vehiculoTrabajando.franjas !== '' || vehiculoTrabajando.franjas !== null" >
            <h6>{{vehiculoTrabajando.franjas}}</h6>
          </ion-text>
          <ion-text *ngIf="vehiculoTrabajando.franjas === '' || vehiculoTrabajando.franjas === null" >
            <h6>No especificado</h6>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2.6">
          <ion-badge class="badge">Línea :</ion-badge>
        </ion-col>
        <ion-col size="9.4">
          <ion-text *ngIf="vehiculoTrabajando.linea !== '' || vehiculoTrabajando.linea !== null" >
            <h6>{{vehiculoTrabajando.linea}}</h6>
          </ion-text>
          <ion-text *ngIf="vehiculoTrabajando.linea === '' || vehiculoTrabajando.linea === null" >
            <h6>No especificado</h6>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2.9">
          <ion-badge class="badge">Modelo :</ion-badge>
        </ion-col>
        <ion-col size="9.1">
          <ion-text *ngIf="vehiculoTrabajando.modelo !== '' || vehiculoTrabajando.modelo !== null" >
            <h6>{{vehiculoTrabajando.modelo}}</h6>
          </ion-text>
          <ion-text *ngIf="vehiculoTrabajando.modelo === '' || vehiculoTrabajando.modelo === null" >
            <h6>No especificado</h6>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item-divider>
      <ion-label>Seleccione un equipo:</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label>Equipo</ion-label>
      <ion-select interface="popover" mode="md" (ionChange)="seleccionarEquipo($event)">
        <ion-select-option *ngFor="let equipo of ordenEspe.equipos">
        Serie {{ equipo.serie }} | {{ equipo.codigo }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item-divider>
      <ion-label>Seleccione una SIM:</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label>SIM</ion-label>
      <ion-select interface="popover" mode="md" (ionChange)="seleccionarSim($event)">
        <ion-select-option *ngFor="let sim of ordenEspe.sims" >
          {{sim.telefono}} | {{sim.codigo}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item-divider *ngIf="mostrarFoto">
      <ion-label>Imágen(es)</ion-label>
    </ion-item-divider>
    
    <div *ngIf="mostrarFoto">
      <div *ngFor="let foto of fotos; index as i">
        <ion-button color="danger" class="delete" (click)="deletePhotoArray(i)">
          X
        </ion-button>
        <img [src]="foto" class="imageDefault">
      </div>
    </div>
  
    <ion-grid fixed *ngIf="fotos.length !== 0" >
      <ion-row>
        <ion-col size="3"></ion-col>
        <ion-col size="6">
          <ion-button (click)="subirImagenes()" expand="block" fill="solid" shape="round" color="dark">
            Subir imágen(es)
          </ion-button>
        </ion-col>
        <ion-col size="3"></ion-col>
      </ion-row>
    </ion-grid> 
  
  </ion-list>
  
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="secondary" class="width">
      <ion-icon name="images"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="takePicture()" color="primary" class="width">
        <ion-icon name="camera" style="zoom:1.5;"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="openGallery()" color="primary" class="width">
        <ion-icon name="image" style="zoom:1.5;"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>


</ion-content>
